<h1>Active Process Instances</h1>
<div>
  <%= link_to "Start new process instance", new_workflow_path %>
</div>

<table>
<thead>
  <tr>
    <th>Process Type</th>
    <th>Business Key</th>
    <th>Current Step</th>
  </tr>
</thead>
  <tbody>
    <% @instances.each do |instance| %>
    <tr>
      <td><%=instance['process-definition-name']%></td>
      <td><%=instance['business-key'] %></td>
      <td><%=instance['current-task-dto']['name'] %></td>
    </tr>
    <% end %>

  </tbody>

</table>
